.filtersPanel .fpAcc {
  padding: 8px 16px;
  background: #f2f2f2;
  border-right: 1px solid #fff;
  position: relative;
  width: -webkit-fill-available;
}

.filtersPanel .fpAcc h4 {
  margin: 0;
  color: #151515;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: text-bottom;
    width: 100%;
    padding-right: 8px;
}
